<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GI.Screenshot" version="1.1.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.3-ci8" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.2.1-ci8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>